{% extends 'base_generic.html' %}

{% block content %}
	<h1>Borrowed books</h1>
	{% if perms.catalog.can_mark_returned %}
		{% if bookinstance_list %}
			<ul>
			{% for bookinst in bookinstance_list %}
				<li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
					<a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>	-	({{ bookinst.due_back }})	-	{{ bookinst.borrower }}
				</li>
			{% endfor %}
			</ul>

		{% else %}
			<p>There are no books borrowed.</p>
		{% endif %}
	{% else %}
		<p>You are not authorised to view this page.</p>
	{% endif %}
{% endblock %}
